@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image:url('https://w0.peakpx.com/wallpaper/490/753/HD-wallpaper-closeup-view-of-green-plant-leaves-green-aesthetic.jpg'); width:700px; margin-left:220px">
    <div style="background-color:black; opacity: 0.6">
        <br /><br />
    <h1 style="color:white">Welcome to <br /> Life Organics</h1>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
